<a href="https://colab.research.google.com/github/MoonlightO2/HR-Data/blob/main/HR_Data_Analysis_(Cleaning).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Human Resource Data Analysis**
***Dataset***: https://www.kaggle.com/datasets/rhuebner/human-resources-data-set

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
file1 = '/content/drive/MyDrive/Projects/Portfolio/HR/HR Data I.csv'
file2 = '/content/drive/MyDrive/Projects/Portfolio/HR/HR Data II.csv'

In [21]:
data = pd.read_csv(file1)
print('Shape: ', data.shape, '\n')
print('Columns: ', data.columns.tolist(), '\n')
data.head()

Shape:  (311, 36)

Columns:  ['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID', 'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID', 'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB', 'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc', 'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus', 'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource', 'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction', 'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30', 'Absences']

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [22]:
data = data.applymap(lambda x: x.strip() if isinstance(x, str) else x)
data['TermReason'] = data['TermReason'].str.title()

In [23]:
for column_name, values in data.items():
    unique_values = set(values)
    num_unique_values = len(unique_values)

    print(f"Column: {column_name}")
    print(f"Unique Values: {unique_values}")
    print(f"Number of Unique Values: {num_unique_values}\n")

Column: Employee_Name
Unique Values: {'Lindsay, Leonara', 'Bondwell, Betsy', 'Chang, Donovan  E', 'Strong, Caitrin', 'Williams, Jacquelyn', 'Ybarra, Catherine', 'Monterro, Luisa', 'Warfield, Sarah', 'Purinton, Janine', 'Stanford,Barbara  M', 'Homberger, Adrienne  J', 'Ren, Kylo', 'Cockel, James', 'Mahoney, Lauren', 'Turpin, Jumil', 'Latif, Mohammed', 'Sparks, Taylor', 'Nguyen, Lei-Ming', 'Saar-Beckles, Melinda', 'Engdahl, Jean', 'Athwal, Sam', 'Jacobi, Hannah', 'Veera, Abdellah', "Carthy, B'rigit", 'Gilles, Alex', 'Smith, Joe', 'Gruber, Hans', 'Forrest, Alex', 'Del Bosque, Keyla', 'Tannen, Biff', 'Gonzalez, Maria', 'True, Edward', 'Roper, Katie', 'Beak, Kimberly', "O'hare, Lynn", 'Pearson, Randall', 'Girifalco, Evelyn', 'Barone, Francesco  A', 'Perry, Shakira', 'Bachiochi, Linda', 'Oliver, Brooke', 'Dee, Randy', 'Zhou, Julia', 'Harrington, Christie', 'Khemmich, Bartholemew', 'Johnson, Noelle', 'Motlagh,  Dawn', 'Barbossa, Hector', 'Rarrick, Quinn', 'Hendrickson, Trina', 'Stansfield, Norman', 'Martin, Sandra', 'Anderson, Carol', 'Saada, Adell', 'Guilianno, Mike', 'Nowlan, Kristie', 'Linden, Mathew', 'Lydon, Allison', 'Ozark, Travis', 'Jhaveri, Sneha', 'Salter, Jason', 'Boutwell, Bonalyn', 'Knapp, Bradley  J', 'McKinzie, Jac', 'Bozzi, Charles', 'Dietrich, Jenna', 'Gosciminski, Phylicia', 'Becker, Scott', 'Candie, Calvin', 'Heitzman, Anthony', 'Burke, Joelle', 'Sutwell, Barbara', 'Dolan, Linda', 'Kinsella, Kathleen', 'Davis, Daniel', 'Ferguson, Susan', 'Von Massenbach, Anna', 'Liebig, Ketsia', 'Kreuger, Freddy', 'Dunn, Amy', 'Rivera, Haley', 'Buccheri, Joseph', 'Tippett, Jeanette', 'Ndzi, Horia', 'Chigurh, Anton', 'Simard, Kramer', 'Gerke, Melisa', 'Rachael, Maggie', 'Patronick, Lucas', 'Ngodup, Shari', 'Trzeciak, Cybil', 'Johnston, Yen', 'Jackson, Maryellen', 'Voldemort, Lord', 'Corleone, Michael', 'Akinkuolie, Sarah', 'Torrence, Jack', 'Trang, Mei', 'Sloan, Constance', 'Burkett, Benjamin', 'Power, Morissa', 'Rossetti, Bruno', 'Keatts, Kramer', 'Crimmings,   Jean', 'Gray, Elijiah', 'Potts, Xana', 'Adinolfi, Wilson  K', 'Kretschmer, John', 'Petrowsky, Thelma', 'Soto, Julia', 'Driver, Elle', 'Villanueva, Noah', 'Newman, Richard', 'Langford, Lindsey', 'Miller, Brannon', 'Ndzi, Colombui', 'Goeth, Amon', 'Faller, Megan', 'Demita, Carla', 'Chace, Beatrice', 'Fitzpatrick, Michael  J', 'Roehrich, Bianca', 'Peters, Lauren', 'DiNocco, Lily', 'Handschiegl, Joanne', 'Dickinson, Geoff', 'Tredinnick, Neville', 'Osturnka, Adeel', 'Huynh, Ming', 'Biden, Lowan  M', 'Jeannite, Tayana', 'Ruiz, Ricardo', 'Pelletier, Ermine', 'Roby, Lori', 'Mangal, Debbie', 'Lundy, Susan', 'Barbara, Thomas', 'Zamora, Jennifer', 'Dougall, Eric', 'Whittier, Scott', 'Wolk, Hang  T', 'Gordon, David', 'Shields, Seffi', 'Good, Susan', 'Howard, Estelle', 'Erilus, Angela', 'Lynch, Lindsay', 'Sewkumar, Nori', 'Terry, Sharlene', 'Monroe, Peter', 'Stoica, Rick', 'Fernandes, Nilson', 'Wallace, Theresa', 'Valentin,Jackie', 'Langton, Enrico', 'Gold, Shenice', 'Sander, Kamrin', 'Carr, Claudia  N', 'Monkfish, Erasumus', 'Squatrito, Kristen', 'Sullivan, Kissy', 'Baczenski, Rachael', 'Costello, Frank', 'Onque, Jasmine', 'Miller, Ned', 'Immediato, Walter', 'Gaul, Barbara', 'Champaigne, Brian', 'Wang, Charlie', 'Cornett, Lisa', 'Hitchcock, Alfred', 'Leach, Dallas', 'King, Janet', 'Woodson, Jason', 'Dunne, Amy', 'Sullivan, Timothy', 'Hutter, Rosalie', 'Navathe, Kurt', 'Bunbury, Jessica', 'Clayton, Rick', 'Le, Binh', 'Pham, Hong', 'Myers, Michael', 'Johnson, George', 'Anderson, Linda', 'Clukey, Elijian', 'Punjabhi, Louis', 'Garcia, Raul', 'Shepard, Anita', 'Harrison, Kara', 'Mancuso, Karen', 'Panjwani, Nina', 'Exantus, Susan', 'Peterson, Ebonee', 'Ivey, Rose', 'Alagbe,Trina', 'Bugali, Josephine', 'Desimone, Carl', 'Carey, Michael', 'Landa, Hans', 'Moumanil, Maliki', 'Blount, Dianna', 'Hudson, Jane', 'Brill, Donna', 'Bacong, Alejandro', 'Tavares, Desiree', 'Wilkes, Annie', 'Roberson, May', 'Smith, Sade', 'Tejeda, Lenora', 'Roup,Simon', 'Dobrin, Denisa  S', 'Foss, Jason', 'Cady, Max', 'LeBlanc, Brandon  R', 'Wallace, Courtney  E', 'Lecter, Hannibal', 'Volk, Colleen', 'Houlihan, Debra', 'Becker, Renee', 'Galia, Lisa', 'Robinson, Cherly', 'Gill, Whitney', 'Lunquist, Lisa', 'Smith, Martin', 'Bates, Norman', 'Soze, Keyser', 'Jung, Judy', 'DeVito, Tommy', 'Spirea, Kelley', 'Hankard, Earnest', 'Eaton, Marianne', 'Cross, Noah', 'Andreola, Colby', 'Thibaud, Kenneth', 'Zima, Colleen', 'Robinson, Alain', "Darson, Jene'ya", 'Rose, Ashley', 'Gonzalez, Juan', 'Chan, Lin', 'Singh, Nan', 'Brown, Mia', 'Rhoads, Thomas', 'Billis, Helen', 'Morway, Tanya', 'Fidelia,  Libby', 'Meads, Elizabeth', 'Fancett, Nicole', 'Cloninger, Jennifer', 'Delarge, Alex', 'Medeiros, Jennifer', 'Kirill, Alexandra', 'Sadki, Nore', 'Kampew, Donysha', 'Winthrop, Jordan', 'Carabbio, Judith', 'Petingill, Shana', 'Wilber, Barry', 'MacLennan, Samuel', 'Goyal, Roxana', 'Gross, Paula', 'Nguyen, Dheepa', 'Foster-Baker, Amy', 'Foreman, Tanya', 'Lajiri,  Jyoti', 'Givens, Myriam', 'Gentry, Mildred', 'Manchester, Robyn', 'Szabo, Andrew', 'Bernstein, Sean', 'Ait Sidi, Karthikeyan', 'Theamstern, Sophia', 'Quinn, Sean', 'Fraval, Maruk', 'Evensen, April', 'Cole, Spencer', 'Walker, Roger', 'Robertson, Peter', 'Corleone, Vito', 'Carter, Michelle', 'Estremera, Miguel', 'Daniele, Ann', 'England, Rex', 'Steans, Tyrone', 'Robinson, Elias', 'DeGweck,  James', 'Sahoo, Adil', 'Gonzalez, Cayo', 'Mckenna, Sandy', 'Moran, Patrick', 'Horton, Jayne', 'Maurice, Shana', 'Smith, John', 'Vega, Vincent', 'Beatrice, Courtney', 'Barton, Nader', 'Cierpiszewski, Caroline', 'Daneault, Lynn', 'Pitt, Brad', 'LaRotonda, William', 'Fett, Boba', 'Leruth, Giovanni', 'Goble, Taisha', 'Hunts, Julissa', 'Owad, Clinton', 'Booth, Frank', 'Linares, Marilyn', 'Close, Phil', 'Smith, Leigh Ann', 'Chivukula, Enola'}
Number of Unique Values: 311

Column: EmpID
Unique Values: {10240, 10241, 10242, 10243, 10244, 10245, 10246, 10247, 10248, 10249, 10250, 10251, 10252, 10253, 10254, 10255, 10256, 10257, 10258, 10259, 10260, 10261, 10262, 10263, 10264, 10265, 10266, 10267, 10268, 10269, 10270, 10271, 10272, 10273, 10274, 10275, 10276, 10277, 10278, 10279, 10280, 10281, 10282, 10283, 10284, 10285, 10286, 10287, 10288, 10289, 10290, 10291, 10292, 10293, 10294, 10295, 10296, 10297, 10298, 10299, 10300, 10301, 10302, 10303, 10304, 10305, 10306, 10307, 10308, 10309, 10310, 10311, 10001, 10002, 10003, 10004, 10005, 10006, 10007, 10008, 10009, 10010, 10011, 10012, 10013, 10014, 10015, 10016, 10017, 10018, 10019, 10020, 10021, 10022, 10023, 10024, 10025, 10026, 10027, 10028, 10029, 10030, 10031, 10032, 10033, 10034, 10035, 10036, 10037, 10038, 10039, 10040, 10041, 10042, 10043, 10044, 10045, 10046, 10047, 10048, 10049, 10050, 10051, 10052, 10053, 10054, 10055, 10056, 10057, 10058, 10059, 10060, 10061, 10062, 10063, 10064, 10065, 10066, 10067, 10068, 10069, 10070, 10071, 10072, 10073, 10074, 10075, 10076, 10077, 10078, 10079, 10080, 10081, 10082, 10083, 10084, 10085, 10086, 10087, 10088, 10089, 10090, 10091, 10092, 10093, 10094, 10095, 10096, 10097, 10098, 10099, 10100, 10101, 10102, 10103, 10104, 10105, 10106, 10107, 10108, 10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116, 10117, 10118, 10119, 10120, 10121, 10122, 10123, 10124, 10125, 10126, 10127, 10128, 10129, 10130, 10131, 10132, 10133, 10134, 10135, 10136, 10137, 10138, 10139, 10140, 10141, 10142, 10143, 10144, 10145, 10146, 10147, 10148, 10149, 10150, 10151, 10152, 10153, 10154, 10155, 10156, 10157, 10158, 10159, 10160, 10161, 10162, 10163, 10164, 10165, 10166, 10167, 10168, 10169, 10170, 10171, 10172, 10173, 10174, 10175, 10176, 10177, 10178, 10179, 10180, 10181, 10182, 10183, 10184, 10185, 10186, 10187, 10188, 10189, 10190, 10191, 10192, 10193, 10194, 10195, 10196, 10197, 10198, 10199, 10200, 10201, 10202, 10203, 10204, 10205, 10206, 10207, 10208, 10209, 10210, 10211, 10212, 10213, 10214, 10215, 10216, 10217, 10218, 10219, 10220, 10221, 10222, 10223, 10224, 10225, 10226, 10227, 10228, 10229, 10230, 10231, 10232, 10233, 10234, 10235, 10236, 10237, 10238, 10239}
Number of Unique Values: 311

Column: MarriedID
Unique Values: {0, 1}
Number of Unique Values: 2

Column: MaritalStatusID
Unique Values: {0, 1, 2, 3, 4}
Number of Unique Values: 5

Column: GenderID
Unique Values: {0, 1}
Number of Unique Values: 2

Column: EmpStatusID
Unique Values: {1, 2, 3, 4, 5}
Number of Unique Values: 5

Column: DeptID
Unique Values: {1, 2, 3, 4, 5, 6}
Number of Unique Values: 6

Column: PerfScoreID
Unique Values: {1, 2, 3, 4}
Number of Unique Values: 4

Column: FromDiversityJobFairID
Unique Values: {0, 1}
Number of Unique Values: 2

Column: Salary
Unique Values: {53250, 45069, 55315, 71707, 63515, 51259, 45115, 100416, 59472, 77915, 71776, 49256, 47211, 114800, 61555, 53366, 61568, 55425, 51337, 61584, 250000, 92328, 92329, 65707, 65714, 71860, 63676, 65729, 63682, 86214, 63695, 61656, 57568, 57575, 57583, 53492, 76029, 63763, 55578, 71966, 61729, 51505, 47414, 53564, 63813, 47434, 59728, 110929, 45395, 65893, 65902, 61809, 45433, 63878, 55688, 57748, 61844, 55722, 72106, 108987, 88527, 68051, 57815, 63973, 57834, 74226, 70131, 59892, 55800, 74241, 68099, 170500, 57859, 61962, 72202, 64021, 66074, 70187, 96820, 64057, 51777, 64066, 55875, 74312, 74326, 68182, 57954, 66149, 62061, 49773, 62065, 62068, 57975, 80512, 47750, 55965, 60070, 74417, 51908, 99020, 58062, 51920, 62162, 60120, 107226, 47837, 54005, 64246, 49920, 72460, 150290, 68407, 92989, 70468, 82758, 101199, 56147, 56149, 52057, 47961, 58207, 70507, 60270, 54132, 93046, 64375, 52087, 66441, 64397, 88976, 70545, 72609, 58273, 58275, 93093, 84903, 74669, 45998, 62385, 60340, 74679, 72640, 99280, 52177, 62425, 60380, 54237, 70621, 56294, 66541, 50178, 58370, 58371, 64520, 54285, 56339, 60436, 93206, 99351, 52249, 60446, 66593, 85028, 46120, 62506, 62514, 74813, 68678, 50274, 83082, 58523, 48285, 58530, 66738, 103613, 120000, 62659, 50373, 89292, 60627, 93396, 64724, 105688, 68829, 64738, 105700, 60656, 66808, 50428, 46335, 66825, 64786, 52505, 48413, 72992, 68898, 220450, 50470, 64816, 50482, 60724, 157000, 113999, 60754, 58709, 62810, 46428, 46430, 48495, 93554, 52599, 48513, 68999, 54670, 52624, 64919, 83363, 95660, 110000, 75188, 64955, 62910, 52674, 64971, 64991, 64995, 62957, 148999, 87565, 56847, 75281, 63000, 63003, 54828, 63025, 52788, 58939, 46654, 50750, 46664, 63051, 83552, 67176, 52846, 73330, 140920, 63108, 138888, 50825, 59026, 46738, 54933, 56991, 67237, 71339, 81584, 95920, 67251, 100031, 97999, 46799, 83667, 55000, 69340, 61154, 50923, 59124, 46837, 48888, 52984, 65288, 59144, 87826, 53018, 89883, 65310, 180000, 61242, 63291, 53060, 178000, 63322, 59231, 51044, 55140, 59238, 87921, 63353, 77692, 106367, 63381, 46998, 47001, 61349, 61355, 53171, 53180, 53189, 63430, 63450, 59365, 59369, 59370, 61422, 90100, 104437, 63478, 45046}
Number of Unique Values: 308

Column: Termd
Unique Values: {0, 1}
Number of Unique Values: 2

Column: PositionID
Unique Values: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}
Number of Unique Values: 30

Column: Position
Unique Values: {'Administrative Assistant', 'Production Technician I', 'IT Manager - Infra', 'Data Analyst', 'Database Administrator', 'Area Sales Manager', 'Network Engineer', 'Accountant I', 'Senior BI Developer', 'IT Manager - Support', 'BI Developer', 'Software Engineering Manager', 'Sr. Network Engineer', 'Sr. Accountant', 'Production Manager', 'IT Director', 'Director of Operations', 'Enterprise Architect', 'IT Support', 'Software Engineer', 'Data Architect', 'Shared Services Manager', 'IT Manager - DB', 'Sr. DBA', 'Production Technician II', 'Director of Sales', 'Sales Manager', 'President & CEO', 'BI Director', 'Principal Data Architect', 'CIO'}
Number of Unique Values: 31

Column: State
Unique Values: {'GA', 'MT', 'RI', 'ND', 'KY', 'UT', 'IN', 'PA', 'ID', 'CA', 'AL', 'NY', 'CO', 'NH', 'WA', 'ME', 'FL', 'VT', 'TX', 'CT', 'AZ', 'NV', 'OH', 'TN', 'OR', 'MA', 'NC', 'VA'}
Number of Unique Values: 28

Column: Zip
Unique Values: {2048, 2050, 2056, 1545, 2061, 2062, 1550, 1040, 85006, 2066, 2067, 2072, 5664, 2081, 43050, 2090, 2093, 89139, 2108, 2109, 2110, 2119, 2121, 2122, 2124, 2125, 2126, 2127, 2128, 2129, 2130, 2132, 2133, 2134, 2135, 2136, 2138, 2140, 27229, 2143, 2145, 2148, 2149, 2152, 2154, 2155, 2169, 2170, 2171, 46204, 2176, 2180, 6278, 2184, 2189, 84111, 2703, 2191, 2199, 2718, 2210, 1701, 36006, 1721, 2747, 1730, 1731, 2763, 1742, 1749, 1752, 30428, 59102, 1760, 1770, 1773, 1775, 1776, 1778, 83706, 2301, 2302, 98052, 37129, 1801, 1803, 1810, 2324, 2330, 40220, 1821, 1824, 2343, 2346, 2351, 1844, 1845, 2359, 2360, 1851, 1864, 1876, 1880, 21851, 2908, 1886, 1887, 5473, 1890, 1901, 1902, 1905, 2421, 1915, 78207, 1420, 2445, 2446, 6033, 1938, 2451, 2452, 2453, 78230, 90007, 6040, 33174, 2458, 2459, 58782, 6050, 2468, 1960, 2472, 1450, 2474, 2478, 2481, 1460, 80820, 6070, 10171, 2492, 2493, 78789, 97756, 4063, 2021, 2026, 2027, 2030, 2031, 19444, 1013, 3062, 2043, 2044, 2045}
Number of Unique Values: 158

Column: DOB
Unique Values: {'04/05/87', '05/09/84', '09/04/83', '07/08/81', '05/30/68', '12/03/76', '01/12/73', '09/05/85', '09/08/77', '05/07/92', '05/23/91', '09/21/90', '06/11/70', '11/21/72', '05/15/70', '09/27/88', '05/09/77', '04/03/75', '07/01/72', '05/19/82', '12/27/58', '08/24/85', '04/06/79', '01/31/87', '10/07/86', '02/24/69', '08/31/81', '11/07/86', '02/20/79', '02/21/84', '01/12/74', '05/24/87', '05/15/63', '03/10/70', '02/09/72', '09/16/75', '08/25/89', '04/14/55', '11/24/79', '01/04/64', '08/16/84', '02/02/83', '03/31/77', '08/26/86', '03/06/88', '07/30/64', '11/08/88', '07/18/88', '07/24/86', '11/07/58', '06/18/92', '01/17/79', '12/02/78', '07/28/83', '06/05/67', '07/10/88', '05/08/80', '08/19/59', '04/17/86', '04/05/73', '08/26/80', '09/16/85', '10/08/70', '01/04/84', '11/14/55', '03/26/81', '04/19/90', '09/02/82', '07/11/81', '08/17/92', '05/19/88', '03/31/89', '12/02/83', '05/24/79', '10/30/69', '03/28/78', '07/04/88', '08/07/86', '04/26/84', '06/18/87', '11/22/77', '12/08/73', '09/02/83', '12/17/75', '08/09/74', '09/05/91', '12/27/88', '09/21/54', '05/05/75', '04/17/66', '02/16/84', '03/22/66', '05/06/89', '05/16/83', '11/09/72', '10/01/90', '10/31/77', '07/10/71', '09/09/65', '10/05/88', '08/09/83', '12/05/74', '05/12/80', '09/19/88', '03/18/87', '06/03/67', '11/10/77', '02/02/80', '05/11/90', '11/25/78', '07/20/83', '09/22/70', '11/23/85', '07/09/70', '11/28/73', '09/14/88', '03/26/73', '01/15/68', '10/26/81', '05/02/78', '01/07/88', '07/01/84', '08/25/82', '06/30/89', '01/18/52', '07/15/77', '02/11/52', '09/05/81', '03/17/66', '08/25/76', '05/25/86', '04/04/87', '11/02/75', '10/18/81', '11/08/83', '08/25/78', '02/18/83', '05/07/65', '04/19/67', '02/02/65', '11/07/74', '04/15/88', '10/07/82', '11/15/76', '09/01/86', '08/18/52', '12/17/87', '03/15/85', '07/06/68', '03/28/83', '09/08/89', '11/24/87', '09/11/72', '07/18/89', '05/21/83', '01/28/91', '12/31/84', '09/30/75', '08/10/88', '08/10/81', '04/25/70', '10/22/75', '03/10/79', '05/02/74', '07/03/72', '08/30/79', '06/29/85', '09/01/89', '10/12/54', '10/05/86', '01/02/51', '08/27/72', '11/27/79', '01/07/74', '10/02/69', '04/14/81', '04/06/85', '08/29/88', '09/22/89', '05/09/65', '08/19/77', '09/23/73', '04/16/79', '05/15/87', '09/15/85', '11/06/86', '12/01/74', '06/10/86', '08/12/79', '10/30/63', '06/10/84', '04/04/79', '12/10/86', '04/10/87', '04/20/85', '04/18/80', '02/10/76', '04/04/86', '11/11/89', '07/20/68', '06/03/86', '01/07/85', '03/19/79', '05/05/88', '03/31/69', '05/06/83', '03/11/84', '02/21/74', '04/24/70', '05/27/73', '11/25/87', '09/27/87', '09/30/80', '10/27/70', '09/08/69', '12/22/70', '01/07/87', '07/05/79', '08/17/86', '04/16/81', '06/14/83', '07/22/82', '12/11/76', '01/16/67', '09/22/76', '07/30/83', '05/31/88', '11/06/84', '08/24/83', '10/18/89', '03/10/75', '10/24/87', '02/14/73', '05/02/89', '09/05/84', '10/23/71', '02/09/83', '06/06/86', '08/27/83', '07/05/80', '08/28/63', '05/24/53', '04/13/64', '08/02/80', '05/12/89', '02/25/51', '10/01/81', '10/09/74', '02/12/79', '07/10/83', '11/05/78', '02/08/70', '01/28/85', '07/07/84', '08/15/68', '04/26/86', '11/23/81', '09/16/84', '07/25/79', '10/11/81', '04/08/77', '06/14/87', '05/21/87', '06/06/68', '03/16/81', '11/24/89', '04/23/86', '09/29/69', '01/19/76', '05/22/77', '05/31/74', '03/12/73', '03/19/83', '09/14/79', '05/01/79', '12/26/76', '05/14/87', '06/19/61', '12/21/74', '05/11/85', '05/09/74', '11/22/66', '12/08/83', '03/17/88', '11/07/87', '06/01/64', '02/11/70', '03/14/85', '03/28/82', '05/21/79', '08/17/78', '08/24/90', '02/09/69', '07/07/86', '09/22/78', '10/10/68', '02/24/79', '03/02/80', '07/20/86', '11/15/82', '12/09/86', '07/07/75', '05/04/82', '10/15/84', '03/23/77', '10/12/64', '07/11/89'}
Number of Unique Values: 307

Column: Sex
Unique Values: {'F', 'M'}
Number of Unique Values: 2

Column: MaritalDesc
Unique Values: {'Married', 'Divorced', 'Single', 'Separated', 'Widowed'}
Number of Unique Values: 5

Column: CitizenDesc
Unique Values: {'Non-Citizen', 'US Citizen', 'Eligible NonCitizen'}
Number of Unique Values: 3

Column: HispanicLatino
Unique Values: {'Yes', 'No', 'yes', 'no'}
Number of Unique Values: 4

Column: RaceDesc
Unique Values: {'Two or more races', 'Hispanic', 'Black or African American', 'American Indian or Alaska Native', 'White', 'Asian'}
Number of Unique Values: 6

Column: DateofHire
Unique Values: {'6/2/2015', '7/11/2011', '5/13/2013', '5/31/2011', '4/26/2010', '8/13/2012', '9/2/2008', '4/2/2012', '7/6/2016', '9/6/2011', '5/11/2015', '1/7/2017', '1/5/2009', '9/26/2011', '11/7/2011', '2/15/2017', '1/5/2014', '4/10/2010', '6/10/2011', '2/21/2011', '9/24/2012', '8/18/2014', '7/2/2012', '2/7/2011', '3/31/2014', '4/1/2013', '1/6/2014', '1/21/2011', '7/7/2014', '5/2/2011', '7/8/2013', '4/15/2011', '11/28/2011', '8/1/2011', '2/18/2013', '10/2/2016', '8/19/2013', '3/7/2012', '1/5/2015', '1/10/2011', '6/30/2016', '1/28/2016', '6/27/2011', '10/25/2010', '11/5/2007', '9/5/2012', '7/6/2009', '9/30/2013', '6/5/2015', '5/1/2015', '3/5/2012', '7/9/2012', '11/5/2012', '1/8/2009', '3/7/2011', '7/5/2011', '10/2/2012', '7/9/2018', '8/16/2012', '9/29/2014', '6/25/2007', '7/20/2010', '2/16/2015', '7/4/2016', '7/5/2015', '4/30/2012', '5/14/2012', '7/21/2016', '8/15/2011', '5/11/2016', '9/27/2010', '9/6/2016', '1/9/2006', '9/30/2014', '1/5/2016', '4/20/2017', '4/4/2011', '12/1/2014', '1/20/2013', '5/16/2011', '10/3/2011', '4/27/2009', '11/10/2014', '10/26/2009', '2/20/2012', '9/18/2014', '5/1/2010', '1/9/2012', '11/11/2013', '8/30/2010', '1/7/2008', '2/17/2014', '5/5/2014', '1/7/2013', '6/6/2016', '10/27/2008', '2/15/2012', '5/18/2014', '2/10/2017', '5/12/2014', '3/30/2015'}
Number of Unique Values: 101

Column: DateofTermination
Unique Values: {'4/29/2018', '4/6/2017', '6/8/2016', '9/12/2015', '9/5/2015', '10/22/2011', '4/8/2015', '11/15/2015', '1/12/2014', '3/15/2015', '4/15/2013', '9/26/2011', '2/19/2016', '1/15/2016', '9/27/2018', '5/30/2011', '9/24/2012', '3/31/2014', nan, '8/7/2014', '9/25/2013', '1/9/2013', '4/1/2013', '9/1/2015', '1/11/2014', '6/16/2016', '9/7/2015', '7/30/2018', '8/19/2013', '4/24/2014', '2/8/2012', '2/21/2016', '12/15/2015', '9/26/2018', '11/30/2012', '1/2/2012', '2/5/2016', '5/1/2016', '6/15/2013', '9/19/2016', '6/25/2015', '8/19/2018', '4/1/2016', '10/31/2014', '12/28/2017', '11/14/2015', '5/25/2016', '8/2/2014', '4/15/2015', '9/23/2016', '2/25/2018', '11/15/2016', '6/24/2013', '11/10/2018', '10/31/2015', '2/12/2016', '9/29/2015', '9/26/2017', '9/15/2016', '12/12/2015', '5/15/2014', '10/25/2015', '1/26/2016', '6/29/2015', '4/7/2018', '6/18/2013', '8/15/2015', '2/22/2017', '8/13/2018', '2/4/2013', '5/17/2016', '6/27/2015', '1/12/2017', '5/14/2012', '8/19/2012', '9/6/2016', '7/8/2017', '4/15/2018', '4/4/2014', '5/1/2018', '9/5/2016', '9/15/2015', '2/8/2016', '6/4/2015', '11/4/2015', '11/11/2016', '6/4/2018', '5/18/2016', '6/5/2013', '7/2/2014', '4/7/2012', '9/4/2014', '8/4/2017', '8/30/2010', '6/6/2017', '1/7/2013', '1/9/2014'}
Number of Unique Values: 97

Column: TermReason

In [24]:
# Summary statistics
data.describe()

,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Zip,ManagerID,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,DaysLateLast30,Absences
count,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,311.000000,303.000000,311.000000,311.000000,311.000000,311.000000,311.000000
mean,10156.000000,0.398714,0.810289,0.434084,2.392283,4.610932,2.977492,0.093248,69020.684887,0.334405,16.845659,6555.482315,14.570957,4.110000,3.890675,1.218650,0.414791,10.237942
std,89.922189,0.490423,0.943239,0.496435,1.794383,1.083487,0.587072,0.291248,25156.636930,0.472542,6.223419,16908.396884,8.078306,0.789938,0.909241,2.349421,1.294519,5.852596
min,10001.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45046.000000,0.000000,1.000000,1013.000000,1.000000,1.120000,1.000000,0.000000,0.000000,1.000000
25%,10078.500000,0.000000,0.000000,0.000000,1.000000,5.000000,3.000000,0.000000,55501.500000,0.000000,18.000000,1901.500000,10.000000,3.690000,3.000000,0.000000,0.000000,5.000000
50%,10156.000000,0.000000,1.000000,0.000000,1.000000,5.000000,3.000000,0.000000,62810.000000,0.000000,19.000000,2132.000000,15.000000,4.280000,4.000000,0.000000,0.000000,10.000000
75%,10233.500000,1.000000,1.000000,1.000000,5.000000,5.000000,3.000000,0.000000,72036.000000,1.000000,20.000000,2355.000000,19.000000,4.700000,5.000000,0.000000,0.000000,15.000000
max,10311.000000,1.000000,4.000000,1.000000,5.000000,6.000000,4.000000,1.000000,250000.000000,1.000000,30.000000,98052.000000,39.000000,5.000000,5.000000,8.000000,6.000000,20.000000

In [25]:
# Check for missing values
data.isnull().sum()

Employee_Name                   0
EmpID                           0
MarriedID                       0
MaritalStatusID                 0
GenderID                        0
EmpStatusID                     0
DeptID                          0
PerfScoreID                     0
FromDiversityJobFairID          0
Salary                          0
Termd                           0
PositionID                      0
Position                        0
State                           0
Zip                             0
DOB                             0
Sex                             0
MaritalDesc                     0
CitizenDesc                     0
HispanicLatino                  0
RaceDesc                        0
DateofHire                      0
DateofTermination             207
TermReason                      0
EmploymentStatus                0
Department                      0
ManagerName                     0
ManagerID                       8
RecruitmentSource               0
PerformanceScore                0
EngagementSurvey                0
EmpSatisfaction                 0
SpecialProjectsCount            0
LastPerformanceReview_Date      0
DaysLateLast30                  0
Absences                        0
dtype: int64

In [26]:
# Unique values in categorical columns
for column in data.select_dtypes(include='object').columns:
    print(column, ":", data[column].unique())

# Handle missing values
data.dropna(inplace=True)  # Drop rows with missing values

# Handle duplicates
data.drop_duplicates(inplace=True)  # Drop duplicate rows

Employee_Name : ['Adinolfi, Wilson  K' 'Ait Sidi, Karthikeyan' 'Akinkuolie, Sarah'
 'Alagbe,Trina' 'Anderson, Carol' 'Anderson, Linda' 'Andreola, Colby'
 'Athwal, Sam' 'Bachiochi, Linda' 'Bacong, Alejandro' 'Baczenski, Rachael'
 'Barbara, Thomas' 'Barbossa, Hector' 'Barone, Francesco  A'
 'Barton, Nader' 'Bates, Norman' 'Beak, Kimberly' 'Beatrice, Courtney'
 'Becker, Renee' 'Becker, Scott' 'Bernstein, Sean' 'Biden, Lowan  M'
 'Billis, Helen' 'Blount, Dianna' 'Bondwell, Betsy' 'Booth, Frank'
 'Boutwell, Bonalyn' 'Bozzi, Charles' 'Brill, Donna' 'Brown, Mia'
 'Buccheri, Joseph' 'Bugali, Josephine' 'Bunbury, Jessica' 'Burke, Joelle'
 'Burkett, Benjamin' 'Cady, Max' 'Candie, Calvin' 'Carabbio, Judith'
 'Carey, Michael' 'Carr, Claudia  N' 'Carter, Michelle' 'Chace, Beatrice'
 'Champaigne, Brian' 'Chan, Lin' 'Chang, Donovan  E' 'Chigurh, Anton'
 'Chivukula, Enola' 'Cierpiszewski, Caroline' 'Clayton, Rick'
 'Cloninger, Jennifer' 'Close, Phil' 'Clukey, Elijian' 'Cockel, James'
 'Cole, Spencer' 'Corleone, Michael' 'Corleone, Vito' 'Cornett, Lisa'
 'Costello, Frank' 'Crimmings,   Jean' 'Cross, Noah' 'Daneault, Lynn'
 'Daniele, Ann' "Darson, Jene'ya" 'Davis, Daniel' 'Dee, Randy'
 'DeGweck,  James' 'Del Bosque, Keyla' 'Delarge, Alex' 'Demita, Carla'
 'Desimone, Carl' 'DeVito, Tommy' 'Dickinson, Geoff' 'Dietrich, Jenna'
 'DiNocco, Lily' 'Dobrin, Denisa  S' 'Dolan, Linda' 'Dougall, Eric'
 'Driver, Elle' 'Dunn, Amy' 'Dunne, Amy' 'Eaton, Marianne' 'Engdahl, Jean'
 'England, Rex' 'Erilus, Angela' 'Estremera, Miguel' 'Evensen, April'
 'Exantus, Susan' 'Faller, Megan' 'Fancett, Nicole' 'Ferguson, Susan'
 'Fernandes, Nilson' 'Fett, Boba' 'Fidelia,  Libby'
 'Fitzpatrick, Michael  J' 'Foreman, Tanya' 'Forrest, Alex' 'Foss, Jason'
 'Foster-Baker, Amy' 'Fraval, Maruk' 'Galia, Lisa' 'Garcia, Raul'
 'Gaul, Barbara' 'Gentry, Mildred' 'Gerke, Melisa' 'Gill, Whitney'
 'Gilles, Alex' 'Girifalco, Evelyn' 'Givens, Myriam' 'Goble, Taisha'
 'Goeth, Amon' 'Gold, Shenice' 'Gonzalez, Cayo' 'Gonzalez, Juan'
 'Gonzalez, Maria' 'Good, Susan' 'Gordon, David' 'Gosciminski, Phylicia'
 'Goyal, Roxana' 'Gray, Elijiah' 'Gross, Paula' 'Gruber, Hans'
 'Guilianno, Mike' 'Handschiegl, Joanne' 'Hankard, Earnest'
 'Harrington, Christie' 'Harrison, Kara' 'Heitzman, Anthony'
 'Hendrickson, Trina' 'Hitchcock, Alfred' 'Homberger, Adrienne  J'
 'Horton, Jayne' 'Houlihan, Debra' 'Howard, Estelle' 'Hudson, Jane'
 'Hunts, Julissa' 'Hutter, Rosalie' 'Huynh, Ming' 'Immediato, Walter'
 'Ivey, Rose' 'Jackson, Maryellen' 'Jacobi, Hannah' 'Jeannite, Tayana'
 'Jhaveri, Sneha' 'Johnson, George' 'Johnson, Noelle' 'Johnston, Yen'
 'Jung, Judy' 'Kampew, Donysha' 'Keatts, Kramer' 'Khemmich, Bartholemew'
 'King, Janet' 'Kinsella, Kathleen' 'Kirill, Alexandra'
 'Knapp, Bradley  J' 'Kretschmer, John' 'Kreuger, Freddy' 'Lajiri,  Jyoti'
 'Landa, Hans' 'Langford, Lindsey' 'Langton, Enrico' 'LaRotonda, William'
 'Latif, Mohammed' 'Le, Binh' 'Leach, Dallas' 'LeBlanc, Brandon  R'
 'Lecter, Hannibal' 'Leruth, Giovanni' 'Liebig, Ketsia' 'Linares, Marilyn'
 'Linden, Mathew' 'Lindsay, Leonara' 'Lundy, Susan' 'Lunquist, Lisa'
 'Lydon, Allison' 'Lynch, Lindsay' 'MacLennan, Samuel' 'Mahoney, Lauren'
 'Manchester, Robyn' 'Mancuso, Karen' 'Mangal, Debbie' 'Martin, Sandra'
 'Maurice, Shana' "Carthy, B'rigit" 'Mckenna, Sandy' 'McKinzie, Jac'
 'Meads, Elizabeth' 'Medeiros, Jennifer' 'Miller, Brannon' 'Miller, Ned'
 'Monkfish, Erasumus' 'Monroe, Peter' 'Monterro, Luisa' 'Moran, Patrick'
 'Morway, Tanya' 'Motlagh,  Dawn' 'Moumanil, Maliki' 'Myers, Michael'
 'Navathe, Kurt' 'Ndzi, Colombui' 'Ndzi, Horia' 'Newman, Richard'
 'Ngodup, Shari' 'Nguyen, Dheepa' 'Nguyen, Lei-Ming' 'Nowlan, Kristie'
 "O'hare, Lynn" 'Oliver, Brooke' 'Onque, Jasmine' 'Osturnka, Adeel'
 'Owad, Clinton' 'Ozark, Travis' 'Panjwani, Nina' 'Patronick, Lucas'
 'Pearson, Randall' 'Smith, Martin' 'Pelletier, Ermine' 'Perry, Shakira'
 'Peters, Lauren' 'Peterson, Ebonee' 'Petingill, Shana'
 'Petrowsky, Thelma' 'Pham, Hong' 'Pitt, Brad' 'Potts, Xana'
 'Power, Morissa' 'Punjabhi, Louis' 'Purinton, Janine' 'Quinn, Sean'
 'Rachael, Maggie' 'Rarrick, Quinn' 'Ren, Kylo' 'Rhoads, Thomas'
 'Rivera, Haley' 'Roberson, May' 'Robertson, Peter' 'Robinson, Alain'
 'Robinson, Cherly' 'Robinson, Elias' 'Roby, Lori' 'Roehrich, Bianca'
 'Roper, Katie' 'Rose, Ashley' 'Rossetti, Bruno' 'Roup,Simon'
 'Ruiz, Ricardo' 'Saada, Adell' 'Saar-Beckles, Melinda' 'Sadki, Nore'
 'Sahoo, Adil' 'Salter, Jason' 'Sander, Kamrin' 'Sewkumar, Nori'
 'Shepard, Anita' 'Shields, Seffi' 'Simard, Kramer' 'Singh, Nan'
 'Sloan, Constance' 'Smith, Joe' 'Smith, John' 'Smith, Leigh Ann'
 'Smith, Sade' 'Soto, Julia' 'Soze, Keyser' 'Sparks, Taylor'
 'Spirea, Kelley' 'Squatrito, Kristen' 'Stanford,Barbara  M'
 'Stansfield, Norman' 'Steans, Tyrone' 'Stoica, Rick' 'Strong, Caitrin'
 'Sullivan, Kissy' 'Sullivan, Timothy' 'Sutwell, Barbara' 'Szabo, Andrew'
 'Tannen, Biff' 'Tavares, Desiree' 'Tejeda, Lenora' 'Terry, Sharlene'
 'Theamstern, Sophia' 'Thibaud, Kenneth' 'Tippett, Jeanette'
 'Torrence, Jack' 'Trang, Mei' 'Tredinnick, Neville' 'True, Edward'
 'Trzeciak, Cybil' 'Turpin, Jumil' 'Valentin,Jackie' 'Veera, Abdellah'
 'Vega, Vincent' 'Villanueva, Noah' 'Voldemort, Lord' 'Volk, Colleen'
 'Von Massenbach, Anna' 'Walker, Roger' 'Wallace, Courtney  E'
 'Wallace, Theresa' 'Wang, Charlie' 'Warfield, Sarah' 'Whittier, Scott'
 'Wilber, Barry' 'Wilkes, Annie' 'Williams, Jacquelyn' 'Winthrop, Jordan'
 'Wolk, Hang  T' 'Woodson, Jason' 'Ybarra, Catherine' 'Zamora, Jennifer'
 'Zhou, Julia' 'Zima, Colleen']
Position : ['Production Technician I' 'Sr. DBA' 'Production Technician II'
 'Software Engineer' 'IT Support' 'Data Analyst' 'Database Administrator'
 'Enterprise Architect' 'Sr. Accountant' 'Production Manager'
 'Accountant I' 'Area Sales Manager' 'Software Engineering Manager'
 'BI Director' 'Director of Operations' 'Sr. Network Engineer'
 'Sales Manager' 'BI Developer' 'IT Manager - Support' 'Network Engineer'
 'IT Director' 'Director of Sales' 'Administrative Assistant'
 'President & CEO' 'Senior BI Developer' 'Shared Services Manager'
 'IT Manager - Infra' 'Principal Data Architect' 'Data Architect'
 'IT Manager - DB' 'CIO']
State : ['MA' 'TX' 'CT' 'VA' 'VT' 'AL' 'WA' 'CA' 'OH' 'IN' 'TN' 'NH' 'RI' 'PA'
 'CO' 'NY' 'UT' 'GA' 'FL' 'NC' 'KY' 'ID' 'NV' 'MT' 'OR' 'ND' 'AZ' 'ME']
DOB : ['07/10/83' '05/05/75' '09/19/88' '09/27/88' '09/08/89' '05/22/77'
 '05/24/79' '02/18/83' '02/11/70' '01/07/88' '01/12/74' '02/21/74'
 '07/04/88' '07/20/83' '07/15/77' '10/18/81' '04/17/66' '10/27/70'
 '04/04/86' '04/06/79' '12/22/70' '12/27/58' '09/01/89' '09/21/90'
 '01/16/67' '07/30/64' '04/04/87' '03/10/70' '08/24/90' '11/24/87'
 '07/28/83' '10/30/69' '06/01/64' '03/02/80' '08/19/77' '11/22/66'
 '08/09/83' '04/05/87' '02/02/83' '06/06/86' '05/15/63' '01/02/51'
 '02/09/72' '02/12/79' '08/24/83' '06/11/70' '08/27/83' '05/31/88'
 '09/05/85' '08/31/81' '11/25/78' '08/26/80' '09/08/77' '08/12/79'
 '12/17/75' '03/19/83' '03/31/77' '08/26/86' '04/10/87' '09/09/65'
 '04/19/90' '01/18/52' '11/05/78' '09/14/79' '04/15/88' '10/31/77'
 '07/05/79' '11/02/75' '02/25/51' '04/19/67' '09/04/83' '11/15/82'
 '05/14/87' '12/02/78' '10/07/86' '07/18/88' '07/09/70' '11/08/88'
 '11/28/73' '09/23/73' '09/05/91' '05/31/74' '08/25/78' '08/25/89'
 '09/02/83' '05/06/89' '05/15/87' '09/22/78' '09/27/87' '04/14/55'
 '10/18/89' '06/18/87' '03/16/81' '10/01/81' '11/08/83' '07/07/75'
 '07/05/80' '04/16/79' '08/28/63' '07/06/68' '09/15/85' '12/02/83'
 '10/01/90' '05/15/70' '07/10/71' '08/09/74' '05/08/80' '09/22/89'
 '10/23/71' '11/24/89' '06/18/92' '09/29/69' '10/12/64' '04/16/81'
 '05/25/86' '05/21/79' '12/08/83' '10/09/74' '07/11/81' '05/21/83'
 '06/30/89' '02/09/69' '03/23/77' '08/10/88' '08/18/52' '05/02/74'
 '01/04/84' '08/27/72' '09/14/88' '02/16/84' '02/21/84' '03/17/66'
 '09/16/85' '06/10/86' '03/11/84' '05/07/92' '09/22/76' '11/15/76'
 '01/28/91' '09/11/72' '03/22/66' '11/06/86' '04/13/64' '08/19/59'
 '11/07/86' '09/08/69' '04/17/86' '11/11/89' '01/19/76' '11/27/79'
 '09/21/54' '12/08/73' '10/08/70' '11/10/77' '02/02/80' '02/24/69'
 '04/23/86' '07/01/72' '07/25/79' '12/09/86' '04/26/84' '05/09/84'
 '06/14/87' '01/17/79' '06/10/84' '09/02/82' '12/27/88' '10/26/81'
 '03/26/81' '03/19/79' '10/05/88' '12/26/76' '03/28/82' '10/22/75'
 '02/14/73' '11/09/72' '07/07/86' '08/25/76' '12/10/86' '11/07/74'
 '11/07/87' '11/22/77' '05/21/87' '01/07/87' '07/01/84' '05/30/68'
 '08/10/81' '06/29/85' '08/17/92' '10/05/86' '04/24/70' '12/03/76'
 '04/04/79' '07/07/84' '12/01/74' '04/18/80' '04/25/70' '05/02/89'
 '03/28/83' '04/08/77' '06/03/67' '03/31/89' '11/23/85' '09/30/80'
 '02/11/52' '05/11/90' '12/11/76' '11/24/79' '05/19/82' '05/01/79'
 '02/20/79' '09/05/84' '03/17/88' '07/18/89' '07/20/86' '08/17/86'
 '05/09/77' '03/10/79' '09/16/84' '03/06/88' '11/23/81' '08/29/88'
 '10/15/84' '06/19/61' '09/22/70' '11/06/84' '05/12/80' '12/31/84'
 '10/12/54' '07/22/82' '01/12/73' '09/05/81' '07/03/72' '01/07/74'
 '01/07/85' '01/28/85' '10/11/81' '05/27/73' '11/21/72' '12/05/74'
 '03/18/87' '04/05/73' '01/04/64' '07/24/86' '06/06/68' '12/21/74'
 '04/26/86' '12/17/87' '07/10/88' '03/10/75' '04/14/81' '08/24/85'
 '02/08/70' '05/19/88' '11/25/87' '10/30/63' '08/16/84' '02/02/65'
 '03/12/73' '02/09/83' '07/20/68' '09/30/75' '03/26/73' '08/25/82'
 '05/09/74' '09/01/86' '03/14/85' '05/12/89' '03/28/78' '10/07/82'
 '08/15/68' '05/06/83' '10/24/87' '04/03/75' '05/24/53' '05/07/65'
 '05/09/65' '09/16/75' '06/05/67' '01/15/68' '05/16/83' '05/05/88'
 '06/14/83' '03/15/85' '03/31/69' '05/23/91' '01/31/87' '10/10/68'
 '07/11/89' '08/07/86' '06/03/86' '04/06/85' '02/10/76' '11/14/55'
 '08/02/80' '07/08/81' '05/02/78' '05/24/87' '07/30/83' '10/02/69'
 '11/07/58' '04/20/85' '05/11/85' '05/04/82' '08/30/79' '02/24/79'
 '08/17/78']
Sex : ['M' 'F']
MaritalDesc : ['Single' 'Married' 'Divorced' 'Widowed' 'Separated']
CitizenDesc : ['US Citizen' 'Eligible NonCitizen' 'Non-Citizen']
HispanicLatino : ['No' 'Yes' 'no' 'yes']
RaceDesc : ['White' 'Black or African American' 'Two or more races' 'Asian'
 'American Indian or Alaska Native' 'Hispanic']
DateofHire : ['7/5/2011' '3/30/2015' '1/7/2008' '7/11/2011' '1/9/2012' '11/10/2014'
 '9/30/2013' '7/6/2009' '1/5/2015' '1/10/2011' '4/2/2012' '2/20/2012'
 '9/24/2012' '2/21/2011' '7/21/2016' '4/4/2011' '7/7/2014' '7/8/2013'
 '8/19/2013' '2/17/2014' '2/16/2015' '10/27/2008' '9/29/2014' '11/11/2013'
 '8/15/2011' '3/5/2012' '1/28/2016' '3/31/2014' '6/30/2016' '8/18/2014'
 '9/6/2016' '5/12/2014' '5/14/2012' '6/27/2011' '10/3/2011' '9/5/2012'
 '5/16/2011' '8/30/2010' '7/6/2016' '7/20/2010' '1/5/2009' '5/5/2014'
 '7/2/2012' '11/7/2011' '7/9/2018' '2/15/2017' '1/7/2013' '1/5/2014'
 '9/18/2014' '4/26/2010' '5/2/2011' '5/11/2015' '4/15/2011' '9/6/2011'
 '5/1/2010' '6/2/2015' '4/20/2017' '3/7/2012' '11/28/2011' '8/13/2012'
 '6/6/2016' '6/5/2015' '11/5/2012' '1/6/2014' '9/26/2011' '3/7/2011'
 '7/9/2012' '10/2/2016' '1/5/2016' '4/30/2012' '1/21/2011' '5/11/2016'
 '5/31/2011' '8/16/2012' '2/15/2012' '5/13/2013' '4/1/2013' '2/10/2017'
 '2/7/2011' '12/1/2014' '10/25/2010' '11/5/2007' '1/7/2017' '1/20/2013'
 '7/4/2016' '9/30/2014' '5/1/2015' '10/26/2009' '5/18/2014' '6/10/2011'
 '10/2/2012' '9/27/2010' '1/8/2009' '4/27/2009' '6/25/2007' '2/18/2013'
 '1/9/2006' '8/1/2011' '7/5/2015' '9/2/2008' '4/10/2010']
DateofTermination : [nan '6/16/2016' '9/24/2012' '9/6/2016' '1/12/2017' '9/19/2016' '4/6/2017'
 '8/4/2017' '9/12/2015' '4/4/2014' '2/19/2016' '8/7/2014' '6/15/2013'
 '8/2/2014' '11/15/2015' '1/7/2013' '9/26/2011' '9/23/2016' '6/8/2016'
 '11/4/2015' '6/6/2017' '9/27/2018' '2/25/2018' '6/5/2013' '5/17/2016'
 '6/24/2013' '1/9/2013' '8/19/2018' '11/15/2016' '9/5/2015' '6/25/2015'
 '3/15/2015' '5/30/2011' '1/11/2014' '10/31/2014' '12/15/2015' '6/18/2013'
 '4/7/2012' '4/15/2015' '4/1/2013' '4/29/2018' '4/1/2016' '4/24/2014'
 '6/4/2015' '1/9/2014' '12/12/2015' '3/31/2014' '4/15/2013' '9/26/2018'
 '9/15/2016' '11/14/2015' '9/26/2017' '8/19/2012' '11/11/2016' '9/4/2014'
 '5/25/2016' '5/1/2018' '8/19/2013' '1/12/2014' '9/7/2015' '5/1/2016'
 '12/28/2017' '9/15/2015' '10/25/2015' '2/4/2013' '5/18/2016' '11/30/2012'
 '6/4/2018' '8/15/2015' '4/7/2018' '1/15/2016' '10/22/2011' '2/8/2012'
 '1/26/2016' '11/10/2018' '8/13/2018' '7/30/2018' '10/31/2015' '4/8/2015'
 '9/25/2013' '6/29/2015' '7/8/2017' '9/5/2016' '8/30/2010' '2/12/2016'
 '4/15/2018' '7/2/2014' '2/5/2016' '2/22/2017' '2/8/2016' '1/2/2012'
 '9/1/2015' '5/15/2014' '5/14/2012' '6/27/2015' '2/21/2016' '9/29/2015']
TermReason : ['N/A-Stillemployed' 'Career Change' 'Hours' 'Return To School'
 'Another Position' 'Unhappy' 'Attendance' 'Performance'
 'Learned That He Is A Gangster' 'Retiring' 'Relocation Out Of Area'
 'More Money' 'Military' 'No-Call, No-Show' 'Fatal Attraction'
 'Maternity Leave - Did Not Return' 'Medical Issues' 'Gross Misconduct']
EmploymentStatus : ['Active' 'Voluntarily Terminated' 'Terminated for Cause']
Department : ['Production' 'IT/IS' 'Software Engineering' 'Admin Offices' 'Sales'
 'Executive Office']
ManagerName : ['Michael Albert' 'Simon Roup' 'Kissy Sullivan' 'Elijiah Gray'
 'Webster Butler' 'Amy Dunn' 'Alex Sweetwater' 'Ketsia Liebig'
 'Brannon Miller' 'Peter Monroe' 'David Stanley' 'Kelley Spirea'
 'Brandon R. LeBlanc' 'Janet King' 'John Smith' 'Jennifer Zamora'
 'Lynn Daneault' 'Eric Dougall' 'Debra Houlihan' 'Brian Champaigne'
 'Board of Directors']
RecruitmentSource : ['LinkedIn' 'Indeed' 'Google Search' 'Employee Referral'
 'Diversity Job Fair' 'On-line Web application' 'CareerBuilder' 'Website'
 'Other']
PerformanceScore : ['Exceeds' 'Fully Meets' 'Needs Improvement' 'PIP']
LastPerformanceReview_Date : ['1/17/2019' '2/24/2016' '5/15/2012' '1/3/2019' '2/1/2016' '1/7/2019'
 '1/2/2019' '2/25/2019' '1/25/2019' '2/18/2019' '1/30/2016' '5/6/2016'
 '2/14/2019' '3/2/2017' '4/5/2017' '1/14/2019' '1/15/2015' '1/11/2019'
 '1/10/2019' '2/27/2019' '3/4/2014' '1/10/2016' '2/20/2014' '3/4/2013'
 '1/15/2019' '2/1/2019' '1/21/2019' '2/10/2013' '2/21/2019' '2/22/2019'
 '1/30/2019' '2/12/2019' '2/19/2019' '1/19/2019' '3/10/2015' '5/3/2012'
 '5/4/2011' '2/28/2019' '5/1/2016' '2/4/2019' '1/22/2019' '1/28/2019'
 '1/24/2019' '1/31/2019' '4/2/2016' '5/6/2015' '1/23/2019' '1/29/2019'
 '1/18/2019' '1/4/2019' '1/27/2019' '4/9/2017' '2/13/2019' '4/12/2018'
 '1/15/2017' '8/10/2012' '2/4/2016' '4/5/2013' '1/7/2012' '2/8/2019'
 '2/26/2019' '1/16/2019' '4/29/2016' '1/15/2014' '1/20/2015' '2/7/2019'
 '3/6/2011' '2/15/2019' '6/3/2013' '2/1/2013' '1/8/2019' '5/2/2015'
 '2/11/2019' '1/30/2013' '3/5/2012' '4/15/2015' '4/12/2012' '2/14/2018'
 '2/3/2016' '3/30/2013' '3/1/2015' '2/6/2019' '2/15/2015' '2/20/2013'
 '7/2/2017' '3/2/2018' '6/10/2016' '2/2/2015' '4/1/2017' '7/2/2012'
 '2/5/2016' '1/14/2013' '3/2/2013' '3/6/2016' '3/9/2018' '7/2/2013'
 '8/16/2015' '1/16/2016' '4/6/2017' '2/6/2015' '5/13/2014' '1/10/2013'
 '3/5/2015' '2/20/2012' '4/2/2018' '4/2/2013' '4/19/2014' '2/4/2018'
 '3/30/2015' '10/22/2011' '1/6/2012' '1/10/2015' '4/5/2016' '2/13/2018'
 '7/2/2018' '1/4/2015' '2/5/2018' '4/20/2015' '4/2/2015' '8/15/2013'
 '3/2/2015' '2/15/2012' '4/18/2017' '3/2/2016' '7/14/2010' '2/12/2017'
 '1/5/2014' '2/15/2017' '2/1/2015' '1/2/2012' '9/5/2014' '2/5/2019'
 '5/15/2014' '2/6/2011' '6/2/2014' '1/19/2016' '9/2/2015']

In [27]:
data.to_csv(file2)
print('Cleaned Data Saved..!', file2)

Cleaned Data Saved..! /content/drive/MyDrive/Projects/Portfolio/HR/HR Data II.csv